<div class="animated fadeIn">

  <div class = "card">
      <div class="card-header">
          <h3>产品间接口一致性测试</h3>
      </div>
      <div class="card-block">
          <div class = "row">
            <div class = "col-sm-6">
              <div class="card">
                <div class="card-header">
                  产品1
                </div>
                <div class="card-block">

                  <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="selectProduct">产品</label>
                    <div class="col-md-9">
                      <select id="selectProduct" name="selectProduct" class="form-control form-control-sm">
                        <option value="0">Please select</option>
                        <option value="1">Agile Controller-DCN</option>
                        <option value="2">Agile Controller-Campus</option>
                        <option value="3">LSW</option>
                        <option value="4">NGFW</option>
                        <option value="5">CE</option>
                        <option value="6">AR</option>
                        <option value="7">WLAN</option>
                      </select>
                    </div>
                  </div>


                  <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="selectVersion">版本</label>
                    <div class="col-md-9">
                      <select id="selectVersion" name="selectVersion" class="form-control form-control-sm">
                        <option value="0">Please select</option>
                        <option value="1">V300R002C00B001</option>
                        <option value="2">V300R002C00B002</option>
                        <option value="3">V300R002C00B003</option>
                        <option value="4">V300R002C00B004</option>
                        <option value="5">V300R002C00B005</option>
                        <option value="6">V300R002C00B006</option>
                        <option value="7">V300R002C00B007</option>
                        <option value="8">V300R002C00B008</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="file-multiple-input1">接口文件</label>
                    <div class="col-md-9">
                      <input type="file" id="file-multiple-input1" name="file-multiple-input1" multiple>
                    </div>
                  </div>
                </div>
              </div>
              <!--/.card-->
            </div>
            <div class = "col-sm-6">
              <div class="card">
                <div class="card-header">
                  产品2
                </div>
                <div class="card-block">

                  <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="selectProduct2">产品</label>
                    <div class="col-md-9">
                      <select id="selectProduct2" name="selectProduct2" class="form-control form-control-sm">
                        <option value="0">Please select</option>
                        <option value="1">Agile Controller-DCN</option>
                        <option value="2">Agile Controller-Campus</option>
                        <option value="3">LSW</option>
                        <option value="4">NGFW</option>
                        <option value="5">CE</option>
                        <option value="6">AR</option>
                        <option value="7">WLAN</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="selectVersion2">版本</label>
                    <div class="col-md-9">
                      <select id="selectVersion2" name="selectVersion2" class="form-control form-control-sm">
                        <option value="0">Please select</option>
                        <option value="1">V300R002C00B001</option>
                        <option value="2">V300R002C00B002</option>
                        <option value="3">V300R002C00B003</option>
                        <option value="4">V300R002C00B004</option>
                        <option value="5">V300R002C00B005</option>
                        <option value="6">V300R002C00B006</option>
                        <option value="7">V300R002C00B007</option>
                        <option value="8">V300R002C00B008</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="file-multiple-input2">接口文件</label>
                    <div class="col-md-9">
                      <input type="file" id="file-multiple-input2" name="file-multiple-input2" multiple>
                    </div>
                  </div>
                </div>
              </div>
              <!--/.card-->
            </div>
          </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary">开始测试</button>
      </div>
  </div>







</div>


