<div class="animated fadeIn">
  <tabset>
    <tab>
      <ng-template tabHeading><i class="icon-calculator"></i> Rest接口测试</ng-template>

      <div class = "row">
          <div class = "col-sm-5">
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="select">产品</label>
                <div class="col-md-9">
                  <select id="selectProduct" name="selectProduct" class="form-control form-control-sm">
                    <option value="0">Please select</option>
                    <option value="1">Agile Controller-DCN</option>
                    <option value="2">Agile Controller-Campus</option>
                    <option value="3">LSW</option>
                    <option value="4">NGFW</option>
                    <option value="5">CE</option>
                    <option value="6">AR</option>
                    <option value="7">WLAN</option>
                  </select>
                </div>
              </div>
          </div>
        <div class = "col-sm-5">
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="select">版本</label>
            <div class="col-md-9">
              <select id="selectVersion" name="selectVersion" class="form-control form-control-sm">
                <option value="0">Please select</option>
                <option value="1">V300R002C00B001</option>
                <option value="2">V300R002C00B002</option>
                <option value="3">V300R002C00B003</option>
                <option value="4">V300R002C00B004</option>
                <option value="5">V300R002C00B005</option>
                <option value="6">V300R002C00B006</option>
                <option value="7">V300R002C00B007</option>
                <option value="8">V300R002C00B008</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class = "row">
          <div class="col-sm-5">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="file-multiple-input1">基线接口文件</label>
              <div class="col-md-9">
                <input type="file" id="file-multiple-input1" name="file-multiple-input1" multiple>
              </div>
            </div>
          </div>

          <div class="col-sm-5">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="file-multiple-input2">当前接口文件</label>
              <div class="col-md-9">
                <input type="file" id="file-multiple-input2" name="file-multiple-input2" multiple>
              </div>
            </div>
          </div>
      </div>

      <div class = "row">
        <button type="button" class="btn btn-primary">开始测试</button>
      </div>

    </tab>
    <tab>
      <ng-template tabHeading><i class="icon-basket-loaded"></i>  NetConf接口测试</ng-template>
      3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </tab>
  </tabset>
</div>
